body {
  background-color: #b3e6fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 60px;
  font-size: 20px;
}
h1 {
  font-size: 60px;
  color: #1151ff;
  border-bottom: 4px solid rgb(255, 77, 77);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
}

button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 1px red solid;
  border-radius: 30px;
}
button:hover {
  color: black;
  background-color: white;
}
