body {
  background-color: #b3e6fd;
  margin-top: 60px;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: #1151ff;
  border-bottom: 4px solid rgb(255, 77, 77);
}
.buttons {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}
a {
  background-color: black;
  color: white;
  padding: 20px;
  text-decoration: none;
  border: 2px solid red;
  border-radius: 20px;
}
a:hover {
  background-color: white;
  color: black;
}
